@import "tailwindcss";

:root {
  --background: #f5f7fa;
  --foreground: #171717;
  --dot-color: #dbeafe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
    --dot-color: #262626;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  background-image: radial-gradient(var(--dot-color) 2px, transparent 2px);
  background-size: 50px 50px;
  font-family: Arial, Helvetica, sans-serif;
}
