.heroCard {
  width: 100%;
  background-color: white;
  color: var(--colorTextSecondary) !important;
  border-radius: 0;
  padding: 60px 20px;
  margin: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .heroCard {
    width: 100%;
    border-radius: 24px;
    padding: 80px 60px;
  }
}
